p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}
img{
    vertical-align:bottom;
}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#FF8800;
    text-decoration:none;
}
div[class^=col]{
    margin:0;
    padding:0;
}
div.row{
    margin:0;
    padding:0;
}
.lf{float:left;}
.rt{float:right;}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
/***********************总体布局*************************/
#banner,#main{
    width:1199px;
    margin:0 auto;
}
/***********************************第四模块：banner部分**************************/
#banner{
    background-color:#37AB40;
}
/***********全部分类***********/
#banner #cate-box{
    height:451px;
}
#banner #cate-box{
    position:relative;
}
#banner #cate-box>li>a{
    display:block;
    height:41px;
    background:#fff;
    text-align:center;
    line-height:40px;
    border:1px solid #EBEBEB;
    border-top:none;
    font-size:14px;
    position:relative;
    z-index:100;
}
#banner #cate-box>li:hover div.sub-cate-box{
    display:block;
}
#banner #cate-box li a:hover{
    border-right-color:#fff;
}
#banner div.sub-cate-box{
    width:450px;
    height:451px;
    border:1px solid #EBEBEB;
    background:#fff;
    position:absolute;
    top:0;
    left:198px;
    z-index:50;
    display:none;
}
#banner div.sub-cate-items{
    width:380px;
    float:left;
}
#banner div.sub-cate-items li{
    float:left;
    padding:15px 7px 0 7px;
}
#banner div.sub-cate-items ul{
    overflow:hidden;
}
#banner div.sub-cate-items span.title{
    display:block;
    width:90px;
    float:left;
    font-weight:bold;
    color:#37AB40;
    padding:15px 10px 0 30px;
}
#banner div.sub-cate-items ul a:hover{
    color:#5CB057;
}
/************滚动栏*************/
#banner #slider-box{
    float:left;
}
#banner #slider-box #slider{
    width:1000px;
    height:450px;
    position:relative;
    overflow:hidden;
}

#banner #slider-box #slider #imgs{
    position: absolute;
    top:0;
    left:0;
}
#banner #slider #imgs li{
    float: left;
    z-index:0;
}
#banner #slider #indexs{
    position:absolute;
    bottom:15px;
    right:30px;
}
#banner #slider #indexs li{
    width:22px;
    height:22px;
    line-height:22px;
    display: inline-block;
    background:#3e3e3e;
    color:#fff;
    border-radius:50%;
    text-align: center;
    cursor: pointer;
    margin-left:10px;
}
#banner #slider #indexs li:hover,#banner #slider #indexs li.hover{
    background:#4BCC60;
}
    /***************第五模块：页面主体****************/
#main{
    margin-top:20px;
}
#main>div.col-xs-12>div.row{
    margin-bottom:20px;
}
/*******限时抢购********/
#main #show>p{
    font-size:14px;
    margin:10px 0 0 150px;
}
#main #show>#show-box{
    width:970px;
    margin:10px 0 0 20px;
    border-top:1px solid #ddd;
}
#main #show>#show-box>li{
    width:180px;
    float:left;
    margin:5px 14px 0 0;
}
#main #show>#show-box>li>a:nth-child(2){
    display:block;
    font-size:15px;
    color:#000;
    margin:5px 0 5px 0;
}
#main #show>#show-box>li img{
    margin-top:5px;
}
#main #show>#show-box>li>span:nth-child(3){
    font-size:15px;
    font-weight:bold;
    color:#FF3E3E;
}
#main #show>#show-box>li>span:nth-child(4){
    margin-left:80px;
    text-decoration:line-through;
}
#main #show>#show-box>li>p{
    width:180px;
    margin-top:19px;
    padding:5px 0 5px 0;
    text-align:center;
    font-size:15px;
    color:#000;
    border:1px solid #eee;
}
/*********商品推荐***********/
#main ul.show1>li{
    float:left;
    margin-left:15px;
}
#main ul.show1>li img{
    transition:all .3s linear;
}
#main ul.show1>li:hover img{
    transform:translate(-7px);
}
/*************电梯**************/
.elevator{
    left: 34.5px;
    top: 50%;
    margin-top:-45px;
    display:none;
    position: fixed;
    z-index: 5;
    width:30px;
}
.elevator li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    margin-top: -1px;
    cursor: pointer;
}
.elevator li a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    color: #625351;
    font-size: 14px;
    font-family: Arial;
}
.elevator li a.etitle {
    display: none;
    height: 30px;
    /*color:red;*/
    font-size: 12px;
    text-align:center;
    color: #fff;
    background-color:#4BDBAF;
}
/*附加导航相关样式*/
.affix {
    position: fixed;
    left: 20px;
    top: 200px;
    z-index:500;
    width: 2.8em;
    text-align: center;
    background: #918888;
    border-radius: 3px;
    box-shadow: 0 0 4px #918888;
    display: none;
}
.affix li {
    padding: 12px 0;
}
.affix li + li {
    border-top: 1px solid #b1aaaa;
}
.affix a {
    color: #fff;
}
.affix a:hover{
    color: #fff;
}
.affix li.active {
    background: #0E9B70;
}
.affix li.active>a:first-child{
    display:none;
}
.affix li.active>a:last-child{
    display:block;
}
.affix li>a:first-child{
    display:block;
}
.affix li>a:last-child{
    display:none;
}
/*********蔬菜豆菇**********/
#main div.show2 div.row:nth-child(2){
    border-top:2px solid #0E9C6F;
    border-bottom:1px solid #eee;
}
#main div.show2 div.show-top{
    padding-bottom:5px;
}
#main div.show2 div.show-top>span{
    font-size:16px;
    font-weight:bold;
    color:#0E9B70;
    margin-right:15px;
}
#main div.show2 div.show-top>a{
    color:#000;
    padding-left:10px;
}
#main div.show2 div.show-top>a:last-child{
    float:right;
}
#main div.show2 div.show-top a:nth-child(2){
    display:inline-block;
    border-left:1px solid #000;
}
/*左侧宽度*/
#main div.show2>div.col-xs-12>div.row>div.col-xs-2{
    width:213px;
}
#main div.show2 ul.u1{
    background-color:#FBFBFB;
    padding-bottom:10px;
    border-right:1px solid #eee;
}
#main div.show2 ul.u1>li{
    float:left;
    margin:20px 17px 20px 17px;
}
#main div.show2 ul.u1>li>a{
    color:#0D9465;
    transition:all .5s linear;
}
#main div.show2 ul.u1>li>a:hover{
    background:url(../images/F.png) no-repeat;
}
/*中间*/
#main div.show2>div.col-xs-12>div.row>div.col-xs-8{
    width:738px;
    padding:15px 15px 10px 15px;
}
#main div.show2 ul.u2>li{
    width:167px;
    float:left;
    margin:30px 5px 10px 5px;
}
#main div.show2 ul.u2>li>a:nth-child(2){
    display:block;
    font-size:14px;
    height:20px;
    margin:10px 0 5px 0;
    overflow:hidden;
    color:#333;
}
#main div.show2 ul.u2>li>span:nth-child(3){
    font-size:15px;
    font-weight:bold;
    color:#FF3E3E;
}
#main div.show2 ul.u2>li a:hover img{
    opacity:0.6;
    transition:all .2s linear;
}
#main div.show2 ul.u2>li span:nth-child(4){
    margin-left:5px;
}
/*右侧*/
#main div.show2>div.col-xs-12>div.row>div.col-xs-2:last-child{
    width:248px;
}
#main div.show2>div.col-xs-12>div.row>div.col-xs-2:last-child img{
    width:248px;
}
/*********菜单介绍*********/
#main #intr li{
    float:left;
}
#main #intr li img{
    margin-right:9px;
    transition:all .3s linear;
}
#main #intr li:hover img{
    transform:translate(-5px);
}